body{
	margin:0;
	text-decoration: none;
	padding: 0;
	background-repeat: no-repeat;
	background:url(code.jpg);
}
h2,h3,h4{
	color: rgb(255, 115, 0);
}
.content{
	width: 1000px;
	min-height: 600px;
	margin:0px auto 0px auto;
	background:rgba(0,0,0,0.9);
	color: #fff;

}
.book{
	color:#fff00;
}